/.idea/
/c2n-be/deployment/mysql/data/
/c2n-be/deployment/docker-env/portal-api.env
c2n-be/utils/http-client.env.json
c2n-be/portal-api/src/main/resources/application-dev.yml.bak
.DS_Store
.deps
hardhat-pj/node_modules
*.env.json